<div class="main-hero">
    <img class="hero-img" src="assets/images/hero.webp" alt="">
    <div class="hero-content px-3 px-lg-5 row g-0">
        <div class="col-12 col-lg-6">
            <span class="text-primary fw-bold mb-2 fs-5 d-block">
                Moodflix 
            </span>
            <h1 class="text-white">Find your next favorite <span class="text-primary">Movie</span> & <span class="text-primary">Show</span></h1>
            <p class="text-muted fs-4 mb-lg-4">Discover, rate, and share your favorite movies with Moodflix</p>
            <button class="btn btn-primary rounded-5 fs-5 border border-dark px-4">Discover</button>
        </div>
    </div>
</div>

<div class="container-fluid  px-3 px-lg-5">
    <div class="my-4 py-4" *ngIf="TrendingMovies">
        <h4 class="mb-3">Trending Movies</h4>
        <app-movies-carousel [movies]="TrendingMovies"></app-movies-carousel>
    </div>
    <div class="my-4 py-4" *ngIf="TrendingTvShows">
        <h4 class="mb-3">Trending Shows</h4>
        <app-movies-carousel [movies]="TrendingTvShows" [listType]="'tvShow'"></app-movies-carousel>
    </div>
    <div class="my-4 py-4" *ngIf="nowPlayingMovies">
        <h4 class="mb-3">Now Playing Movies</h4>
        <app-movies-carousel [movies]="nowPlayingMovies" ></app-movies-carousel>
    </div>
    <div class="my-4 py-4" *ngIf="nowPlayingTvShows">
        <h4 class="mb-3">On The Air Shows</h4>
        <app-movies-carousel [movies]="nowPlayingTvShows" [listType]="'tvShow'"></app-movies-carousel>
    </div>
    <div class="my-4 py-4" *ngIf="TopRatedMovies">
        <h4 class="mb-3">Top Rated Movies</h4>
        <app-movies-carousel [movies]="TopRatedMovies"></app-movies-carousel>
    </div>
    <div class="my-4 py-4" *ngIf="TopRatedTvShows">
        <h4 class="mb-3">Top Rated Shows</h4>
        <app-movies-carousel [movies]="TopRatedTvShows" [listType]="'tvShow'"></app-movies-carousel>
    </div>
</div>




